
/* Les points avant les éléments représentent les "class selector" */
/* Stylisation de "class selector" pour l'en tête. */
.top-bar {
    height: 40px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerTopBar {
    width: 80%;
    height: 100%;
    margin: auto;
}
.index:hover {
    color: orange;
}
.formulaire:hover {
    color: purple;
    
}

/* Stylisation des balises de textes */
header{
    background-color: aliceblue;
    border: 2px solid whitesmoke;
}
a,
a:visited,
a:hover,
a:active {
    color: black;
    font-weight: bold;
    font-family: Verdana;
}