
/* =====+===== Stylisation des "class selector" =====+===== */
/* ===== Stylisation de "class selector" de l'en tête ===== */
.containerHeader {
    width: 80%;
    height: 100%;
    margin: auto;
    /*border: 2px solid orange;*/
}
.over-top-bar {
    height: 40px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: 2px solid orangered;*/
}
.top-bar {
    height: 60px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: 2px solid orangered;*/
}

/* Stylisation de "class selector" pour les navigations. */
.index:hover {
    color: green;
    margin-bottom: 10px;
}
.pokedex:hover {
    color: orange;
    margin-bottom: 10px;
}
.formulaire:hover {
    color: purple;
    margin-bottom: 10px;
}

/* ===== Stylisation de "class selector" du corps ===== */
.containerCentral {
    width: 70%;
    padding: 20px;
    margin: auto;
    background-color: white;
    border: 2px solid blue;
}
.arrierePlanCentral {
    width: 100%;
    height: 100%;
    background-color: #373737;
}

/* =====+===== Stylisation des balises de corps =====+===== */
/* Les variables "top:0;" et "position:sticky;" permettent
au "header" de rester en haut. */
header{
    top: 0;
    position: sticky;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    background-color: white;
}
html,body {
    margin: 0;
    padding: 0;
}
a,
a:visited,
a:hover,
a:active {
    color: black;
    font-family: Verdana;
}